# MongoDB Connection URI
MONGODB_URI=mongodb+srv://varevvaadmin:Vishnu143@varevva-project.4kstjlg.mongodb.net/varevva?retryWrites=true&w=majority&appName=Varevva-project

# JSON Web Token Secret
JWT_SECRET=VarevvaRestaurantOwner2026@7xP9LmQ4!Secure

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=dasullah1
CLOUDINARY_API_KEY=526377496749222
CLOUDINARY_API_SECRET=1QjQJ6WSX1YlGSVRnnvHIv4HrZs

# WhatsApp Business Cloud API Configuration
WHATSAPP_ACCESS_TOKEN=your_whatsapp_access_token
WHATSAPP_PHONE_NUMBER_ID=your_whatsapp_phone_number_id
WHATSAPP_BUSINESS_ACCOUNT_ID=your_whatsapp_business_account_id
WHATSAPP_RECIPIENT_NUMBER=your_recipient_phone_number
